{% extends 'base.html '%}

{% block header %}
    <h1>{% block title %}Registro{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="field">
            {{ form.username.label(class_="label") }}
            {{ form.username(size=64, class_="input") }}
        </fieldset>
       <fieldset class="field">
            {{ form.password.label(class_="label") }}
            {{ form.password(class_="input") }}
       </fieldset>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Register">
    </form>
{% endblock %}